.notice_ul {
    margin: 0 40px;
    padding: 20px 35px;
    list-style: circle;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f3f2ff;
}
.notice_li {
    font-size: 13px;
    font-weight: 500;
    padding: 3px 0;
}
.map_container {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    height: 100%
}
