.full_container {
    width: 100%;
    min-height: 100%;
    padding: 0 30px;
}
.left_container {
    width: 20%;
    min-height: 100%;
    float: left;
    border-right: 1px solid #ddd;
    padding: 0 10px;
}
.right_container {
    width: 80%;
    min-height: 100%;
    float: right;
    padding: 0 10px;
}
.myInfo_container {
    width: 100%;
    height: fit-content;
    min-height: 200px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ecf8f6;
}
.board_container {
    width: 100%;
    height: 500px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ecf8f6;
}
.myInfo_top {
    width: 100%;
    height: max-content;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.myInfo_img {
    float: left;
    width: 30%;
}
.profile_txt {
    font-size: 14px;
    float: right;
    vertical-align: center;
}
.myInfo_txt {
    float: right;
    height: 100%;
    padding: 20px 0;
}
.myInfo_bottom {
    padding: 20px 0;
    width: 100%;
    overflow: hidden;
}
.button_right {
    float: right;
    width: 100px;
    background-color: #77b7b4;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}
.button_left {
    float: left;
    width: 100px;
    background-color: #77b7b4;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}

