/* 메인화면 이미지 슬라이드 */
.slideImgArea{height: 400px;padding: 0 100px;background-color: #ebebeb;border-radius: 10px;margin-bottom: 40px;}
.slideImgDiv {height: 100%;width: 100%;}
.slideImgDiv img {height: 100%;width: 100%;}

/* 메인화면 검색창 */
.searchArea {padding: 20px 0;}
.searchForm {margin: 0 auto;width: fit-content;}
.searchFormDiv{height: 60px; border: 2px solid #2F5597; width: fit-content}
.searchInputBox {width: 600px;height: 100%;padding: 0 22px 0 12px;font-size: 13px;color: #62696c;line-height: 2.7em;float: left;}

/* 메인화면 컨텐츠 영역 */
.contentArea {width: 100%;height: fit-content;overflow: hidden;margin: 30px auto 0 auto;position: relative;font-family: "Nanum Gothic", sans-serif;}
.content1 {display: inline-block;width: 100%;height: 100%;padding: 10px; float: left}
.contentTop {height: fit-content;font-size: 24px; border-bottom: 3px solid #086492; overflow: hidden}
.contentTop h2 {color: #1a1a1a;font-weight: 520;font-size: 20px; display: inline-block; padding: 10px; margin-top: 0}
.contentTop img{width: 40px; float:left; margin: 0 10px; display: inline-block}
.contentBottom {height: fit-content;}

/* 공지사항 영역 */
.noticeList {padding: 10px;  border: 1px solid #ddd;}
.noticeList ul {margin: 0;padding: 0;}
.noticeList li {list-style: none;margin: 0;color: #000;line-height: 1.6;padding-top: 7px;padding-bottom: 7px;border-bottom: 1px solid #bfbfbf;}
.noticeList li a {font-size: 12px;display: block;color: inherit;}
.noticeList li span {font-size: 11px;float: none !important;display: block;color: #bfbfbf;}

/* 커뮤니티 - 화면 구역 구분 */
.fullContainer {position: relative; display: flex; width: 1280px; min-width: 1280px; padding: 0 15px; margin: 15px auto 0; }
.leftContainer {position: relative; width: 145px; min-width: 145px; margin: 0 15px 0 0;}
.mainContainer {position: relative; width: 895px; min-width: 895px;}
.rightContainer {width: 180px; margin: 0 0 0 15px;}

/* 왼쪽 내비게이션 */
.leftNav {width: 100%;border-radius: 2px;overflow: hidden;}
.leftNavMenu {padding-bottom: 5px;margin-bottom: 10px;border-radius: 2px;overflow: hidden;background-color: #fff;}
.leftNavMenu a {display: flex;align-items: center;width: 100%;padding: 7px 10px;font-size: 12px;text-decoration: none;}
.leftNavMenu a.menuGroup.all {color: #fff;padding: 9px 10px;margin: 0;background-color: #003565;border: 0;}
.leftNavMenu a.menuGroup {font-weight: bold;color: #111;margin: 5px 0;border-top: 1px solid #F1F1F1;background-color: #FAFAFA;}
.leftNavMenu a.menuGroup.menuGroup:first-child + a, .leftNavMenu .menuGroup:first-child + a, .leftNavMenu .menuGroup:first-child + a {margin: 0 0 5px;border-top: 0;}
.leftNavMenu a.menuGroup:focus, .leftNavMenu a.menuGroup:hover {background-color: #F1F1F1;}
.leftNavMenu a.menuList {color: #222;padding: 10px 10px;}
.leftNavMenu a.menuList:hover {background-color: #F1F1F1}
.leftNavMenu a .menuOver {width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/* 오른쪽 내비게이션 */
.rightContainer .loginBoxSubmitRegion .checkIDRemember {color: #666;letter-spacing: -0.8px;font-size: 12px;}
.rightContainer .loginBoxSubmitRegion .buttonSubmit {width: 60px;height: 25px;color: #fff;font-weight: 500;margin: 2px 0;border-radius: 2px;background-color: #003565;font-size: 12px;}
.loginBox {width: 180px;padding: 10px;margin: 0 0 1px 0;border-radius: 2px 2px 0 0;background-color: #fff;}
.loginBox .loginBoxSubmitRegion {display: flex;align-items: center;justify-content: space-between;margin: 4px 0;}
.loginBox .loginBoxMenu {display: flex;justify-content: space-between;letter-spacing: -0.8px;width: 100%;padding: 10px 0 0;border-top: 1px dashed #E2E2E2;}
.loginBox .loginBoxMenu a {color: #666;font-size: 12px;}

/* 메인 구역 - 섹션 구역 구분 */
.sectionContentWrap {display: flex;flex-wrap: wrap;justify-content: space-between;}
.sectionContent {display: flex;width: 100%;}
.sectionList {position: relative;width: 100%;min-width: 443px;padding: 15px 23px 13px;margin: 0 0 9px 0;border-radius: 2px;background-color: #fff;box-shadow: 0 0 1px 0 rgb(0 0 0 / 10%);}
.sectionList .sectionTitle {display: block;font-size: 18px;letter-spacing: -0.5px;margin: 0 0 5px 0;border-bottom: 1px solid rgba(0,0,0,0.15);}
.sectionList .sectionTitle a {display: flex;align-items: center;justify-content: space-between;color: #333;padding: 5px 0;margin: 0 0 10px;opacity: .9;text-decoration: none;}
.sectionContent .sectionList:first-child {margin: 0 0 9px 0;}
.sectionContent .sectionList:last-child {margin: 0 0 9px 9px;}

/* 메인 구역 - 섹션 게시글 리스트 */
.sectionList .listItem {display: block;height: auto;border: 0;}
.sectionList .listItem .listTitle {padding: 4px 0;}
.sectionList .listItem .listTitle .listSubject .shortname {display: inline-block;color: #fff;min-width: 40px;width: auto;font-size: 12px;text-align: center;padding: 0 3px;border: 0;border-radius: 2px;background-color: #999;}
.sectionList .listItem .listTitle .listSubject .subject {position: relative;top: 0;color: black}
.sectionList .listItem .listTitle .listReply {top: 0;}
.listItem {position: relative;display: table;width: 100%;height: 37px;border-bottom: 1px solid #E2E2E2;border-right: 1px solid #E2E2E2;background-color: #fff;}
.listItem .listTitle {display: flex;align-items: center;flex-wrap: wrap;padding: 9px 0;font-size: 14px;}
.listItem .listTitle .listSubject {display: inline-block;align-items: center;position: relative;float: left;max-width: 460px;line-height: 18px;word-break: break-all;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin: 0 5px 0 0; text-decoration: none}
.listItem .listTitle .listReply {position: relative;top: 0;font-size: 11px;color: #F7683A;padding: 0;}


.board_container {width: 100%;height: 500px;padding: 20px;margin-bottom: 30px;background-color: #ecf8f6;}
.myInfo_top {width: 100%;height: max-content;overflow: hidden;padding-bottom: 10px;border-bottom: 1px solid #ddd;}
.myInfo_img {float: left;width: 30%;}
.profile_txt {font-size: 14px;float: right;vertical-align: center;}
.myInfo_txt {float: right;height: 100%;padding: 20px 0;}
.myInfo_bottom {padding: 20px 0;width: 100%;overflow: hidden;}
.button_right {float: right;width: 100px;background-color: #77b7b4;color: white;font-weight: bolder;margin-bottom: 10px;}
.button_left {float: left;width: 100px;background-color: #77b7b4;color: white;font-weight: bolder;margin-bottom: 10px;}

